.side-bar
  .side-bar__user-name
    .left-items
      .left-items__names
        nonono
      .left-items__icon
        =link_to "#", class: "left-items__icon__btn " do
          =icon('far', 'edit')
          %span<>
        =link_to "#", class: "left-items__icon__btn" do
          =icon('fas', 'cog')

  .side-bar__group-list
    .group-list 
      =link_to "#",class: "group-link" do
        .group-list__name
          saa
        .group-list__message
          sa
          