* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
}

.side-bar {
  height: 100vh;
  width: 300px;
  &__user-name {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    }
  &__group-list{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 0 20px;
  }
}

.left-items{
  height: 20px;
  width: 260px;
  color: #ffffff;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  &__names{
    font-size: 16px;
    font-weight: bold;
  }
  &__icon{
    width: 60px;
    text-align: right;
    &__btn{
    color: #ffffff;
    margin-left: 5px;
    }
  }
}

.group-list{
  padding: 20px 0 40px;
  display: block;
  text-decoration: none;
  &__name{
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 5px;
  }
  &__message{
    font-size: 11px;
    color: #ffffff;
  }
}

.main-chat {
  height: 100vh;
  width: calc(100vw - 300px);
  &__group-info {
    height: 100px;
    background-color: #FFFFFF;
    border-bottom: solid 1px #EEEEEE;
    padding: 0 40px;
  }
  &__message-list {
    height: calc(100vh - 190px);
    background-color: #FAFAFA;
    padding: 35px 0 0 40px;
  }
  &__message-form{
    height: 90px;
    background-color: #D2D2D2;
    padding: 20px 50px 20px 40px;
  }
}

.main-group{
  display: flex;
  justify-content: space-between;
  &__name{ 
    font-size: 20px;
    color: #333333;
    padding: 35px 0 0 0;
    .group__memberlist{
      font-size: 12px;
      color: #999999;
      margin-top: 15px;
      display: flex;
      list-style: none;
      .group__member{
        margin-right: 5px;
      }
    }
  }
  &__edit{
    width: 72px;
    height: 40px;
    color: #38aef0;
    margin-top: 28px;
    padding: 0 20px;
    text-decoration: none;
    line-height: 40px;
    border: 1px #38aef0 solid;
  }
}

.message-list{
  margin-bottom: 46px;
  &__info{
    display: flex;
    &__name{
      font-size: 16px;
      font-weight: bold;
      color: #333333;
      margin-bottom: 12px;
    }
    &__date{
      font-size: 12px;
      color: #999999;
      padding-left: 10px;
    }
  }
  &__text{
      font-size: 14px;
      color: #434A54;
  }
}

.form{
  display: flex;
  justify-content: space-between;
  &__box{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    &__text{
      height: 50px;
      width: 100%;
      padding: 0 45px 0 15px;
      border: none;
    }
    &__image{
      font-size: 25px;
      line-height: 50px;
      position: absolute;
      right: 10px;
      &__file{
        display: none;
      }
    }
  }
  .submitBtn{
    background-color: #38aef0;
    color: #ffffff;
    font-size: 16px;
    padding: 0 30px;
    margin-left: 15px;
    border: none;
  }
}
